<section id="tools">
  <div class="bg-secondary pt-2 pb-2 text-white">
    <h1 class="d-flex justify-content-center">Tools</h1>
  </div>
  <div class="container tools-container mt-5">
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\angular.svg"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\html.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\css.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\typescript.svg"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\sql.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\snowflake.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\csharp.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\swagger.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\npm.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\github_alt.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\vscode.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\vs.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>
    <div class="tools-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\unity.png"
        alt="..."
        class="img-fluid aos-init aos-animate tools-img"
      />
    </div>

  </div>
</section>
