

h4 {
  color: #D9B08C;
}
.contact-item:hover .select {
  border-radius: 24px;
  padding: 16px;
  background-color: #D1E8E2;
  opacity: 0.5;
}
.icon-size {
  font-size: 40px;
}

/*
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2
*/
