<section id="contactme">
  <div data-aos="fade-up">
    <h4 class="d-flex justify-content-center">Contact Methods</h4>
    <div class="container">
      <a>
        <div type="button" class="row contact-item">
          <div class="col-12 select">
            <span class="fa fa-envelope-square fa-7x icon-size"></span
            >Robert.P.Webb94@gmail.com
          </div>
        </div>
      </a>
      <a href="https://github.com/Robw94" target="_blank">
        <div type="button" class="row contact-item pointer">
          <div class="col-12 select">
            <span class="fa fa-github fa-7x icon-size"></span> Robw94
          </div>
        </div>
      </a>
      <a
        href="https://www.linkedin.com/in/robert-webb-4a306093/"
        target="_blank"
      >
        <div type="button" class="row contact-item pointer">
          <div class="col-12 select">
            <span class="fa fa-linkedin fa-7x icon-size"></span>
            <span> Robert Webb</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
