.app-splash-screen {
  /* background: green; */
  /* background-image: url('src\assets\imgs\splash-screen-background-2.jpg'); */
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  transition: left 0.5s;
}

.app-label {
  color: #fff;
  font-size: 2.5em;
}


.fade-out {
  animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}


.pulse {
  background: black;
  border-radius: 75%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse-black 2s infinite;
}

.pulse.effect {
  box-shadow: 0 0 0 0 rgba(217, 176, 140, 1);
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(217, 176, 140, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(217, 176, 140, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(217, 176, 140, 0);
  }
}



