/* You can add global styles to this file, and also import other style files */
/* #05386b
#379683
#5cdb95
#8EE4AF
#EDF5E1 */

.me {
    color: #05386b;
}

body {
    background: #5cdb95;
    counter-reset: section;
}

.portfolio-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
    color: #EDF5E1;
}
.portfolio-heading::before {
    position: relative;
    counter-increment: section 1;
    content: counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
    color: #05386b;
}
.portfolio-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #05386b 
}
