<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center align-items-start fixed-top">
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand position-absolute mx-0">Robert Webb, Web Developer</span>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link js-scroll-trigger nav-text" href="#introduction">About</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link js-scroll-trigger nav-text" href="#tools">Tools</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link js-scroll-trigger nav-text" href="#portfolio">Projects</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link js-scroll-trigger nav-text" href="#contactme">Contact'</a>
                </li>
            </ul>
        </div>
    </nav>

</header>

<body id="application" class="application">
    <!-- Navigation -->

    <div class="application-body">
        <main class="application-content">
            <app-introduction></app-introduction>
            <app-tools></app-tools>
            <app-portfolio></app-portfolio>
            <app-contact-me></app-contact-me>
        </main>
    </div>

    <!-- <div class="container-fluid" style="margin-top: 65px;">
        <app-introduction></app-introduction>
        <app-tools></app-tools>
        <app-portfolio></app-portfolio>
        <app-contact-me></app-contact-me>
    </div>

   
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Robert Webb Portfolio
            </p>
        </div>
    </footer> -->
</body>
<footer>FOOTER</footer>