.navbar-dark {
  /* background-color: #003A6C !important; */
  background-color: #2C3531 !important; 
  position: sticky;
}
.navbar-dark .navbar-toggler-icon {
  color: #2C3531 !important;
}

.nav-link {
  color: #116466 !important;
}

ul#nav li a span {
   color: #FFCB9A;
}
ul#nav li a span:hover {
  color: #FFCB9A;
}

.navbar-brand {
  color: #05386b;
}

.me {
  color: #FFCB9A;
}

p {
  margin-top: 0%;
  margin-bottom: 0%;
}


button {
  position: relative;
  display:block;
  height: 35px;
  width: 100px;
  margin: 7px 3px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  color: #FFCB9A;
  border: 2px #FFCB9A solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.slide:after{
  content:"Resume'";
  position:inherit;
  width:100%;
  height:100%;
  left:0;
  text-align:center;
  -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:before {
  content:"Download ⇓";
  height:100%;
  width:100%;
  position:absolute;
  color:#66FCF1;
  left:-100%;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.slide:hover{
  background:#45A29E;
}

.slide:hover:before{
  left:0;
  opacity:1;
  color:#fff;
}
.slide:hover:after{
  left:100%;
  opacity:0;
}

.resume:hover {
  box-shadow: inset 0px 0px 0px #2F3B47;
  transition: all 0.5s !important;
}



.application {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.application-left {
  grid-column: 1;
  display: flex;
  position: fixed;
  top: 70%;
  left: 7%;
  right: 0;
}

.application-body {
  display: flex;
  grid-column: 2;
}

.social li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
  margin-bottom: 15px;
}
.social li:hover a {
  color:green;
  transform:rotateY(360deg);
}

.social:last-child::after{
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background: black;
}

@media screen and (max-width: 1240px) {
  .application {
    display: grid;
    grid-template-columns: 1fr;
  }
  .application-body {
    grid-column: 1;
  }
  .application-left {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .me {
    display: none;
  }
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}
#wrapper
{
    position:relative;
    min-height:100%;
}