<section id="workhistory">
  <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="tabs-container">
    <h1 class="portfolio-heading ">Work History</h1>
    <div class="inner">
      <div class="buttons">
  
        <button id="berryworldbutton" #berryworldbutton (click)="next(berryworldbutton,berryworldcontent)"
          class="selected">BerryWorld</button>
        <button id="datalytyxbutton" #datalytyxbutton (click)="next(datalytyxbutton,datalytyxcontent)">Datalytyx</button>
      </div>
      <div class="content-info">
        <section #berryworldcontent id="berryworldcontent" role="tabpanel" tabindex="-1" aria-labelledby="tab-0"
          aria-hidden="true">
          <h3><span>Web Developer</span><span class="company">&nbsp;@&nbsp;<a href="https://www.berryworld.com/"
                class="inline-link" rel="noopener noreferrer" target="_blank">Berry World</a></span></h3>
          <p class="range">Jan 2019 - Present</p>
          <p>Creating Bespoke Business applications for end-users that allow them to
            accomplish everyday tasks which require to run the business.</p>
          <div>
            <ul>
              <li>Providing Bespoke Business Applications that are used globally by
                BerryWorld employees</li>
              <li>Full-stack development (Angular2, C#, SQL, TypeScript, Devops)
  
              </li>
              <li>Maintain older SOAP/RESTFUL applications
              </li>
            </ul>
          </div>
        </section>
        <div #datalytyxcontent id="panel-0" role="tabpanel" tabindex="-1" aria-labelledby="tab-0" aria-hidden="true"
          class="hidden">
          <h3><span>Junior Developer</span><span class="company">&nbsp;@&nbsp;<a href="https://www.datalytyx.com/"
                class="inline-link" rel="noopener noreferrer" target="_blank">Datalytyx</a></span></h3>
          <p class="range">Jan 2019 - Present</p>
          <div>
            <p> In the Software Consultant position at Datalytyx I found myself working for
              many companies creating web applications and working as a Data Engineer
              when necessary.</p>
            <ul>
              <li>Creating Website Applications meeting specific requirements using a
                selected development stack</li>
              <li>Performing Data Engineering tasks using Talend
  
              </li>
              <li>Working on Client sites
              </li>
              <li> Obtaining knowledge and creating applications that utilise cloud
                platforms</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
