

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @media (min-width: 768px) {


  .tabs-container {
    padding: 4rem 4rem;
  }
}

@media (min-width: 992px) {

  .tabs {
    width: 800px;
  }
} */

button {
  background: none;
  border: none;
  border-left: 2px #116466 solid;
  color: #D1E8E2;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  outline: none !important;

}

button:focus {
  outline: 0;
  box-shadow: none;
}

.hidden {
  display: none;
}



.selected {
  border-left: 2px #FFCB9A solid;
  color: #FFCB9A;

}

.inner {
  display: flex;
  padding: 1rem;
}

.buttons {
  padding: 2rem;
  position: relative;
  display: inline-block;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 10%;
}

.inline-link {
  color: #D1E8E2;
}
.content-info {
  position: relative;
  width: 100%;
  margin-left: 20px;
  min-height: 40vh;
  max-height: 50vh;
  overflow-y: auto;
}

h3 {
  color: #FFCB9A;
}

p {
  color: #FFCB9A
}

div ul li {
  color: #FFCB9A;
}

@media (max-width: 600px) {

  .inner {
    display: block;
  }
}

@media (max-width: 600px) {

  .buttons {
    display: flex;
    overflow-x: auto;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
    width: 100vw;
  }

  .selected {
    border: 0px;
    border-bottom: 2px #FFCB9A solid;
    color: #FFCB9A;
  

  }
  button {
    border-left: 0px;
    border-bottom: 2px #116466 solid;
  }
}
