<body id="page-top">
  <!-- Navigation -->
  <!-- <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center align-items-start"
    id="mainNav"
  >
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarResponsive"
      >

        <ul class="navbar-nav">
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target="#navbarResponsive"
          >
            <a class="nav-link js-scroll-trigger nav-text" href="#introduction"
              >About</a
            >
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target="#navbarResponsive"
          >
            <a class="nav-link js-scroll-trigger nav-text" href="#tools"
              >Tools</a
            >
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target="#navbarResponsive"
          >
            <a class="nav-link js-scroll-trigger nav-text" href="#portfolio"
              >Projects</a
            >
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target="#navbarResponsive"
          >
            <a class="nav-link js-scroll-trigger nav-text" href="#contactme"
              >Contact'</a
            >
          </li>
        </ul>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="me">Robert Webb, Web Developer</span>


  </nav> -->
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center align-items-start fixed-top"
  >
    <button
      class="navbar-toggler mr-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- notice position-absolute on the brand which allows it to center-->
    <span class="navbar-brand position-absolute mx-0"
      >Robert Webb, Web Developer</span
    >
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav">
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <a class="nav-link js-scroll-trigger nav-text" href="#introduction"
            >About</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <a class="nav-link js-scroll-trigger nav-text" href="#tools">Tools</a>
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <a class="nav-link js-scroll-trigger nav-text" href="#portfolio"
            >Projects</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <a class="nav-link js-scroll-trigger nav-text" href="#contactme"
            >Contact'</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <app-introduction></app-introduction>
    <app-tools></app-tools>
    <app-portfolio></app-portfolio>
    <app-contact-me></app-contact-me>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; Robert Webb Portfolio
      </p>
    </div>
  </footer>
</body>
<router-outlet></router-outlet>
