<section id="portfolio">
  <div class="bg-secondary pt-2 pb-2 text-white">
    <h1 class="d-flex justify-content-center">Portfolio</h1>
  </div>
  <div class="container portfolio-container mt-5">
    <div class="portfolio-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\notrace.gif"
        alt="..."
        class="img-fluid aos-init aos-animate portfolio-img"
      />
    </div>
    <div class="portfolio-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\portfolio.png"
        alt="..."
        class="img-fluid aos-init aos-animate portfolio-img"
      />
    </div>
    <div class="portfolio-card-item">
      <img
        data-aos="zoom-in-up"
        src="assets\imgs\flappyflapper.gif"
        alt="..."
        class="img-fluid aos-init aos-animate portfolio-img"
      />
    </div>
  </div>
</section>
